@charset "UTF-8";

h1 {
 font-family: "atyp-kido-variable",sans-serif;
 font-variation-settings: 'wght' 280;  
}

h2 {
    font-family: "atyp-kido-variable",sans-serif;
    font-variation-settings: 'wght' 280; 
}





